{{define "exprtocircuitpopup"}}
<div id="expr-to-circuit-popup" class="exprtocircuit__popup invisible">
    <h1>Digital Expression To Circuit Generator</h1>
    <hr/>
    <div><input id="expr-to-circuit-input"  type="text"></div>
    <div id="generate-expr-to-circuit-button" type="button" title="Generate Circuit from Expression">
        <a>Generate</a>
    </div>
</div>
{{end}}
